{% extends "default_body.html" %}

{% block pagecontent %}
<div class="row">
	<div class="offset2 span8">
		<h2>Log In</h2>
		<form method="POST" action="." class="well">
			{% csrf_token %}
				<fieldset>
				{% for field in form %}
					<label>{{field.label}}</label>
					{{ field }}
				{% endfor %}
				<div class="form-actions">
					<button type="submit" class="btn">Submit</button>
				</div>
				</fieldset>
		</form>
		<div class="alert alert-success"><strong>Don't have an account?</strong>  Register <a href="/accounts/register">here</a></div>
	</div>
</div>
{% endblock %}