{% extends "default_body.html" %}

{% block pagecontent %}
<div class="row">
	<div class="span6">
		<h3>{{build.name}}</h3>
		<h4>Created: {{build.created}}</h4>
		<a href="#" id="starbtn" class="btn btn-warning{% if build.starred %} active{% endif %}"><i class="icon-star{% if build.starred %} icon-white{% endif %}"></i></a>
	</div>
	<div class="span6">
		<h5>Metadata</h5>
		<table class="table table-bordered">
			<tbody>
				{% for metadata in metadata_set %}
				<tr>
					<td>{{metadata.category.friendly_name}}</td>
					<td>{{metadata.value}}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h5>Installers</h5>
		<ul class="nav nav-tabs nav-stacked">
			{% for installer in installers %}
			<li><a href="{{installer.download_url}}">{{installer.friendly_name}}</a>
			{% endfor %}
		</ul>
	</div>
	<div class="span4">
		<h5>Other Artifacts</h5>
		<ul class="nav nav-tabs nav-stacked">
			{% for artifact in artifacts %}
			<li><a href="{{artifact.download_url}}">{{artifact.friendly_name}}</a>
			{% endfor %}
		</ul>
	</div>
	<div class="span4">
		<h5>Build Info</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Type</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				{% for extra_data in extra_data_set %}
				<tr>
					<td>{{extra_data.category.friendly_name}}</td>
					<td>{{extra_data.value}}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block pagescripts %}
<script type="text/javascript">
$("#starbtn").click( function(){
	var active = $("#starbtn").hasClass('active');
	$.ajax(
		{
			url: "{{ api_endpoint }}?username={{ user.username }}&api_key={{ user.api_key.key }}&format=json", 
			data:{'starred': !active}, 
			type:'PATCH',
			success: function(){
				if(active){
					$("#starbtn").removeClass('active');
				} else {
					$("#starbtn").addClass('active');
				}
			},
			error: function(){
				alert("WE DONE GOOFED!");
			}
		}
	);
});
</script>
{% endblock %}