{% extends "default_body.html" %}

{% block pagecontent %}
<div class="row">
	<div class="span4">
		<h5>Metadata</h5>
		<table class="table table-bordered">
			<tbody>
				{% for k, v in metadata_set.iteritems %}
				<tr>
					<td>{{k}}</td>
					<td>{{v}}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="span8">
		<ul class="nav nav-tabs nav-stacked">
			{% for build in builds %}
			<li><a href="/build/{{build.id}}">{{build.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}