{% extends "default_header.html" %}

{% block body %}
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">EmuBaby</a>
			<ul class="nav pull-right">
				<li class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="navdropdown">Nav<b class="caret"></b></a>
					<ul class="dropdown-menu">
						{% block navmenuoptions %}{% endblock %}
					</ul>
				</li>
				<li class="pull-right">
					{% if user.is_authenticated %}
					<a href="#">Log Out</a>
					{% else %}
					<a href="/accounts/login/">Log In</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
	{% block pagecontent %}
	{% endblock %}
	</div>
</body>
{% endblock %}