{% extends "default_body.html" %}

{% block pagecontent %}
{% for category in categories %}
	{% if forloop.counter0|divisibleby:4 %}
	<div class="row-fluid">
	{% endif %}
	<div class="span3 text-center">
		<h4>{{category.friendly_name}}</h4>
		<select id="{{category.slug}}">
			<option selected>--</option>
			{% for v in category.values.all %}
			<option>{{v.value}}</option>
			{% endfor %}
		</select>
	</div>
	{% if forloop.counter0|add:1|divisibleby:4 %}
	</div>
	{% endif %}
{% endfor %}
<div class="row-fluid">
	<div class="span6 offset3">
		<a href="#" id="jumpToFilters" class="btn btn-block btn-success">View Builds</a>
	</div>
</div>
{% endblock %}

{% block pagescripts %}
<script type="text/javascript">
$("#jumpToFilters").click( function(){
	var queryArgs = [];
	$('select').each(function(){
		var cat = this.id;
		var val = this.options[this.selectedIndex].label;
		if( val != "--" ){
			queryArgs.push(cat + "=" + val);
		}
	});
	var filterPage = "/builds/?" + queryArgs.join("&");
	window.location.href = filterPage;
});
</script>
{% endblock %}