{% extends "default_body.html" %}

{% block pagecontent %}
<h2 class="text-center">{{org_name}} EmuBaby</h2>
<div class="row">
	<h3 class="text-center">Latest Build</h3>
	<div class="span8 offset2">
		<a href="/build/{{latest_build.p_id}}" class="btn btn-block btn-large btn-primary"><i class="icon-bookmark icon-white"></i>{{latest_build.name}}</a>
	</div>
</div>
<div class="row">
	<h3 class="text-center">Latest Starred Build</h3>
	<div class="span8 offset2">
		<a href="/build/{{latest_starred_build.p_id}}" class="btn btn-block btn-large btn-primary"><i class="icon-star icon-white"></i>{{latest_starred_build.name}}</a>
	</div>
</div>
{% endblock %}