{% extends "default_body.html" %}

{% block pagecontent %}
<div class="row">
	<div class="span12">
		<h3>Welcome {{user.username}}!</h3>
	</div>
</div>
<div class="row">
	<div class="span6">
		<h4>You are browsing {{org_name}}'s Alexandria build archive.</h4>
	</div>
	<div class="span6">
		<h4>This archive contains {{num_builds}} builds, of which you have access to {{accessible_builds}}.</h4>
	</div>
</div>
<div class="row">
	<div class="span12">
		<h3 class="text-center">Get Started</h3> 
	</div>
</div>
<div class="row">
	<div class="span3">
		<a href="/latest" class="btn btn-large btn-block btn-primary">View Latest Builds</a>
	</div>
	<div class="span3">
		<a href="/filter" class="btn btn-large btn-block btn-info">Search For Builds</a>
	</div>
	<div class="span3">
		<a href="#" data-toggle="collapse" data-target="#buildJump" class="btn btn-large btn-block btn-success">Jump To A Build</a>
		<div id="buildJump" class="collapse">
			<form action="javascript:func(window.location.href='/build/' + document.getElementById('jumpField').value)">
				<input class="input-block-level" id="jumpField" type="text">
			</form>
		</div>
	</div>
	<div class="span3">
		<a href="/admin" class="btn btn-large btn-block btn-inverse">Admin</a>
	</div>
</div>
{% endblock %}